/* --------------------------------- */
/* --------->>> IMPORTS <<<--------- */
/* --------------------------------- */
@import "../fonts/museosans_500_macroman/stylesheet.css";
@import "reset.css";
@import "font-awesome-4.0.3/scss/font-awesome.scss";



/* --------------------------------- */
/* -------->>> VARIABLES <<<-------- */
/* --------------------------------- */
// Positional Variables
$base-margin: 12px;

// Appearance Variables
$main-background: url("../images/scifi.png");

// Color Variables
// Scheme: http://colorschemedesigner.com/#0741Tw0w0w0w0
$sl-light: #FFF;
$sl-dark: #333;
$anime-orange: #FF8300;
$manga-blue: #06799F;
$ranobe-red: #FF2800;
$game-green: #00BB3F;



/* --------------------------------- */
/* --------->>> GLOBAL <<<---------- */
/* --------------------------------- */
html,
body {
    width: 100%;
    height: 100%;
    background: url("../public/images/scifi.png") fixed;
    @media only screen 
    and (min-device-width: 320px)
    and (max-device-width: 480px) {
        width: auto;
    }
}

body {
    font: normal 100% "museo_sans500", sans-serif;
}

h1,
h2 {
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}



/* --------------------------------- */
/* --------->>> HEADER <<<---------- */
/* --------------------------------- */
header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $sl-light;
    box-shadow: 0 1px 2px transparentize($sl-dark, 0.8);
    #logo {
        padding: 10px 0 0 $base-margin;
        width: 166px;
        height: 40px;
        float: left;
    }
    #navbar {
        padding-right: $base-margin;
        float: right;
        a {
            padding-left: $base-margin;
            float: right;
            color: $sl-dark;
            text-decoration: none;
            line-height: 60px;
            font-size: 20px;
            .fa-user {
                padding-left: $base-margin;
            }

            &:hover {

            }
        }
    }

}



/* --------------------------------- */
/* ---------->>> MAIN <<<----------- */
/* --------------------------------- */
#content {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}

#main {
    display: block;
    margin: 60px auto 0 auto;
    width: 100%;
    background: $sl-light;
    overflow: auto;
    @media only screen and (min-width: 900px) {
        width: 900px;
    }

    #banner {
        height: 300px;
        display: block;
        position: relative;
        background: url("../images/sword-art-online-banner.jpg");
        background-size: cover;
        #title-bar {
            background: $sl-light;
            box-shadow:
                0 -1px 1px transparentize($sl-dark, 0.8);
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 50px;
            #title {
                padding: $base-margin/2 0 0 $base-margin;
                color: $sl-dark;
                font-size: 36px;
            }
        }
    }

    #info {
        width: 100%;
        background: $sl-dark;
        float: left;
        position: relative;
        #info-data {
            .info-datum {
                padding: 4px $base-margin;
                color: #777;
                float: left;
                clear: left;                
                &:first-of-type {
                    padding-top: $base-margin;
                }

                &:last-of-type {
                    padding-bottom: $base-margin;
                }

                a {
                    color: $sl-light;
                    text-decoration: none;
                    &:hover {
                        text-shadow: 0 0 2px $sl-light;
                        @media only screen 
                        and (min-device-width: 320px)
                        and (max-device-width: 480px) {
                            text-shadow: none;
                        }
                    }

                    &:active {
                        text-shadow: 0 0 2px $sl-light;
                    }
                }
            }
        }
    }

    #storyline {
        width: 100%;
        display: block;
        float: left;
        #story-panel-list {
            width: 100%;
            float: left;
            .story-panel-item {
                width: 100%;
                float: left;
                list-style: none;
                .time-point {
                    width: 40px;
                    height: 80px;
                    position: relative;
                    float: left;
                    .year {
                        color: $sl-dark;
                        text-align: center;
                        font-size: 10px;
                        font-weight: bold;
                        line-height: 80px;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        top: 5%;
                        bottom: 60%;
                        left: 50%;
                        border-left: 2px dashed #bbb;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        top: 60%;
                        bottom: 4%;
                        left: 50%;
                        border-left: 2px dashed #bbb;
                    }
                }

                .time-spacer {
                    width: 40px;
                    height: 80px;
                    position: relative;
                    float: left;
                    .year {
                        text-align: center;
                        font-size: 10px;
                        font-weight: bold;
                        line-height: 80px;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        top: 3%;
                        bottom: 3%;
                        left: 50%;
                        border-left: 2px dashed #bbb;
                    }
                }

                &:first-child {
                    &:after {
                        border-left: none;
                    }
                }

                .media-details {
                    margin: 1px 0;
                    width: calc(100% - 52px);
                    height: 79px;
                    position: relative;
                    float: left;
                    background: $sl-light;
                    box-shadow: 
                        0 -1px 0 #eee,
                        0 1px 0 #eee;
                    .media-type {
                        padding: $base-margin/2 0 0 $base-margin/2;
                        font-size: 12px;
                    }

                    .media-name {
                        display: block;
                        padding: $base-margin 0 0 6px;
                        color: $sl-dark;
                        font-size: 14px;
                        text-decoration: none;
                    }

                    &.anime-media {
                        border-left: $base-margin solid $anime-orange;
                        .media-type {
                            color: $anime-orange;
                        }
                    }

                    &.ranobe-media {
                        border-left: $base-margin solid $ranobe-red;
                        .media-type {
                            color: $ranobe-red;
                        }
                    }

                    &.manga-media {
                        border-left: $base-margin solid $manga-blue;
                        .media-type {
                            color: $manga-blue;
                        }
                    }

                    &.game-media {
                        border-left: $base-margin solid $game-green;
                        .media-type {
                            color: $game-green;
                        }
                    }

                    &:hover {
                        background: #eee;
                        box-shadow: 
                            0 -1px 0 #ddd,
                            0 1px 0 #ddd;
                        @media only screen 
                        and (min-device-width: 320px)
                        and (max-device-width: 480px) {
                            background: $sl-light;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}



/* --------------------------------- */
/* --------->>> FOOTER <<<---------- */
/* --------------------------------- */
footer {
    height: 60px;
    position: absolute;
    bottom: 0;
    background: $sl-dark;
    width: 100%;
    p {
        width: 100%;
        padding-top: 12px;
        color: $sl-light;
        text-align: center;
    }
}