doctype html
//- New title ideas: Storyline - The stories that make up your own.
//- Tagline: Let us help you remember the stories that make up your own
//- Concept:
//- The stories we read, watch, and play are a big part of our own story. 
//- Collect your favorite stories in one place. Everything is part of a 
//- story.

mixin story-panel(title, type, year)
    li.story-panel-item
        if (year=='')
            div.time-spacer
                h4.year
        else
            div.time-point
                h4.year= year
        if type == "Anime"
            div.media-details.anime-media
                h4.media-type
                    | Anime 
                p.media-name= title
        else if type == "Manga"
            div.media-details.manga-media
                h4.media-type
                    | Manga 
                p.media-name= title
        else if type == "Ranobe"
            div.media-details.ranobe-media
                h4.media-type
                    | Light Novel
                p.media-name= title
        else if type == "Game"
            div.media-details.game-media
                h4.media-type
                    | Game 
                p.media-name= title



head
    meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
    link(rel="stylesheet", href="stylesheets/screen.css")

    title 
        | Storyline - The stories that make up your own.
body
    div#content
        header  
            img#logo(src='images/storyline-header-logo.png')
            nav#navbar
                a(href="#")#your-story
                    | Nick
                    i.fa.fa-user


        section#main
            section#banner
                div#title-bar
                    h2#title

            section#info
                div#info-data
                    h3#demographic.info-datum 
                        | a 
                        a(href='#')
                    h3#genre.info-datum
                        a(href='#')
                        |  story
                    h3#creator.info-datum
                        | by 
                        a(href='#')

            section#storyline
                ul#story-panel-list
                    +story-panel('Sword Art Online II', 'Anime', '')
                    +story-panel('Sword Art Online: Hollow Fragment', 'Game', '2014')
                    +story-panel('Sword Art Online: Infinity Moment', 'Game', '')
                    +story-panel('Sword Art Online: Progressive', 'Manga', '')
                    +story-panel('Sword Art Online Girls Ops', 'Manga', '2013')
                    +story-panel('Sword Art Online: Progressive', 'Ranobe', '')
                    +story-panel('Sword Art Online', 'Anime', '')
                    +story-panel('Sword Art Online: Fairy Dance', 'Manga', '2012')
                    +story-panel('Sword Art Online: 4-Koma', 'Manga', '')
                    +story-panel('Sword Art Online: Aincrad', 'Manga', '2010')
                    +story-panel('Sword Art Online', 'Ranobe', '2009')
        footer
            p 
                | This is the footer.
