@import url(../fonts/museosans_500_macroman/stylesheet.css);
@import url(reset.css);
/* --------------------------------- */
/* --------->>> IMPORTS <<<--------- */
/* --------------------------------- */
/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../../../fonts/font-awesome//fontawesome-webfont.eot?v=4.0.3");
  src: url("../../../fonts/font-awesome//fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../../../fonts/font-awesome//fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../../../fonts/font-awesome//fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../../../fonts/font-awesome//fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 4, ../sass/font-awesome-4.0.3/scss/_core.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
/* line 5, ../sass/font-awesome-4.0.3/scss/_larger.scss */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/* line 10, ../sass/font-awesome-4.0.3/scss/_larger.scss */
.fa-2x {
  font-size: 2em;
}

/* line 11, ../sass/font-awesome-4.0.3/scss/_larger.scss */
.fa-3x {
  font-size: 3em;
}

/* line 12, ../sass/font-awesome-4.0.3/scss/_larger.scss */
.fa-4x {
  font-size: 4em;
}

/* line 13, ../sass/font-awesome-4.0.3/scss/_larger.scss */
.fa-5x {
  font-size: 5em;
}

/* line 3, ../sass/font-awesome-4.0.3/scss/_fixed-width.scss */
.fa-fw {
  width: 1.28571em;
  text-align: center;
}

/* line 4, ../sass/font-awesome-4.0.3/scss/_list.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
/* line 8, ../sass/font-awesome-4.0.3/scss/_list.scss */
.fa-ul > li {
  position: relative;
}

/* line 10, ../sass/font-awesome-4.0.3/scss/_list.scss */
.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
/* line 16, ../sass/font-awesome-4.0.3/scss/_list.scss */
.fa-li.fa-lg {
  left: -1.85714em;
}

/* line 4, ../sass/font-awesome-4.0.3/scss/_bordered-pulled.scss */
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

/* line 10, ../sass/font-awesome-4.0.3/scss/_bordered-pulled.scss */
.pull-right {
  float: right;
}

/* line 11, ../sass/font-awesome-4.0.3/scss/_bordered-pulled.scss */
.pull-left {
  float: left;
}

/* line 14, ../sass/font-awesome-4.0.3/scss/_bordered-pulled.scss */
.fa.pull-left {
  margin-right: .3em;
}
/* line 15, ../sass/font-awesome-4.0.3/scss/_bordered-pulled.scss */
.fa.pull-right {
  margin-left: .3em;
}

/* line 4, ../sass/font-awesome-4.0.3/scss/_spinning.scss */
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  /* line 12, ../sass/font-awesome-4.0.3/scss/_spinning.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 13, ../sass/font-awesome-4.0.3/scss/_spinning.scss */
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  /* line 16, ../sass/font-awesome-4.0.3/scss/_spinning.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 17, ../sass/font-awesome-4.0.3/scss/_spinning.scss */
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  /* line 20, ../sass/font-awesome-4.0.3/scss/_spinning.scss */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 21, ../sass/font-awesome-4.0.3/scss/_spinning.scss */
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  /* line 24, ../sass/font-awesome-4.0.3/scss/_spinning.scss */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 25, ../sass/font-awesome-4.0.3/scss/_spinning.scss */
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  /* line 28, ../sass/font-awesome-4.0.3/scss/_spinning.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 29, ../sass/font-awesome-4.0.3/scss/_spinning.scss */
  100% {
    transform: rotate(359deg);
  }
}
/* line 4, ../sass/font-awesome-4.0.3/scss/_rotated-flipped.scss */
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 5, ../sass/font-awesome-4.0.3/scss/_rotated-flipped.scss */
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 6, ../sass/font-awesome-4.0.3/scss/_rotated-flipped.scss */
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 8, ../sass/font-awesome-4.0.3/scss/_rotated-flipped.scss */
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 9, ../sass/font-awesome-4.0.3/scss/_rotated-flipped.scss */
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 4, ../sass/font-awesome-4.0.3/scss/_stacked.scss */
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

/* line 12, ../sass/font-awesome-4.0.3/scss/_stacked.scss */
.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 18, ../sass/font-awesome-4.0.3/scss/_stacked.scss */
.fa-stack-1x {
  line-height: inherit;
}

/* line 19, ../sass/font-awesome-4.0.3/scss/_stacked.scss */
.fa-stack-2x {
  font-size: 2em;
}

/* line 20, ../sass/font-awesome-4.0.3/scss/_stacked.scss */
.fa-inverse {
  color: white;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* line 4, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-glass:before {
  content: "\f000";
}

/* line 5, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-music:before {
  content: "\f001";
}

/* line 6, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-search:before {
  content: "\f002";
}

/* line 7, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-envelope-o:before {
  content: "\f003";
}

/* line 8, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-heart:before {
  content: "\f004";
}

/* line 9, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-star:before {
  content: "\f005";
}

/* line 10, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-star-o:before {
  content: "\f006";
}

/* line 11, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-user:before {
  content: "\f007";
}

/* line 12, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-film:before {
  content: "\f008";
}

/* line 13, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-th-large:before {
  content: "\f009";
}

/* line 14, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-th:before {
  content: "\f00a";
}

/* line 15, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-th-list:before {
  content: "\f00b";
}

/* line 16, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-check:before {
  content: "\f00c";
}

/* line 17, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-times:before {
  content: "\f00d";
}

/* line 18, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-search-plus:before {
  content: "\f00e";
}

/* line 19, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-search-minus:before {
  content: "\f010";
}

/* line 20, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-power-off:before {
  content: "\f011";
}

/* line 21, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-signal:before {
  content: "\f012";
}

/* line 22, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}

/* line 24, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-trash-o:before {
  content: "\f014";
}

/* line 25, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-home:before {
  content: "\f015";
}

/* line 26, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-file-o:before {
  content: "\f016";
}

/* line 27, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-clock-o:before {
  content: "\f017";
}

/* line 28, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-road:before {
  content: "\f018";
}

/* line 29, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-download:before {
  content: "\f019";
}

/* line 30, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}

/* line 31, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}

/* line 32, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-inbox:before {
  content: "\f01c";
}

/* line 33, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-play-circle-o:before {
  content: "\f01d";
}

/* line 34, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}

/* line 36, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-refresh:before {
  content: "\f021";
}

/* line 37, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-list-alt:before {
  content: "\f022";
}

/* line 38, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-lock:before {
  content: "\f023";
}

/* line 39, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-flag:before {
  content: "\f024";
}

/* line 40, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-headphones:before {
  content: "\f025";
}

/* line 41, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-volume-off:before {
  content: "\f026";
}

/* line 42, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-volume-down:before {
  content: "\f027";
}

/* line 43, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-volume-up:before {
  content: "\f028";
}

/* line 44, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-qrcode:before {
  content: "\f029";
}

/* line 45, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-barcode:before {
  content: "\f02a";
}

/* line 46, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-tag:before {
  content: "\f02b";
}

/* line 47, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-tags:before {
  content: "\f02c";
}

/* line 48, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-book:before {
  content: "\f02d";
}

/* line 49, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-bookmark:before {
  content: "\f02e";
}

/* line 50, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-print:before {
  content: "\f02f";
}

/* line 51, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-camera:before {
  content: "\f030";
}

/* line 52, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-font:before {
  content: "\f031";
}

/* line 53, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-bold:before {
  content: "\f032";
}

/* line 54, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-italic:before {
  content: "\f033";
}

/* line 55, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-text-height:before {
  content: "\f034";
}

/* line 56, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-text-width:before {
  content: "\f035";
}

/* line 57, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-align-left:before {
  content: "\f036";
}

/* line 58, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-align-center:before {
  content: "\f037";
}

/* line 59, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-align-right:before {
  content: "\f038";
}

/* line 60, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-align-justify:before {
  content: "\f039";
}

/* line 61, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-list:before {
  content: "\f03a";
}

/* line 62, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}

/* line 64, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-indent:before {
  content: "\f03c";
}

/* line 65, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-video-camera:before {
  content: "\f03d";
}

/* line 66, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-picture-o:before {
  content: "\f03e";
}

/* line 67, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-pencil:before {
  content: "\f040";
}

/* line 68, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-map-marker:before {
  content: "\f041";
}

/* line 69, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-adjust:before {
  content: "\f042";
}

/* line 70, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-tint:before {
  content: "\f043";
}

/* line 71, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}

/* line 73, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-share-square-o:before {
  content: "\f045";
}

/* line 74, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-check-square-o:before {
  content: "\f046";
}

/* line 75, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrows:before {
  content: "\f047";
}

/* line 76, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-step-backward:before {
  content: "\f048";
}

/* line 77, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-fast-backward:before {
  content: "\f049";
}

/* line 78, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-backward:before {
  content: "\f04a";
}

/* line 79, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-play:before {
  content: "\f04b";
}

/* line 80, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-pause:before {
  content: "\f04c";
}

/* line 81, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-stop:before {
  content: "\f04d";
}

/* line 82, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-forward:before {
  content: "\f04e";
}

/* line 83, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-fast-forward:before {
  content: "\f050";
}

/* line 84, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-step-forward:before {
  content: "\f051";
}

/* line 85, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-eject:before {
  content: "\f052";
}

/* line 86, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-chevron-left:before {
  content: "\f053";
}

/* line 87, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-chevron-right:before {
  content: "\f054";
}

/* line 88, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-plus-circle:before {
  content: "\f055";
}

/* line 89, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-minus-circle:before {
  content: "\f056";
}

/* line 90, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-times-circle:before {
  content: "\f057";
}

/* line 91, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-check-circle:before {
  content: "\f058";
}

/* line 92, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-question-circle:before {
  content: "\f059";
}

/* line 93, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-info-circle:before {
  content: "\f05a";
}

/* line 94, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-crosshairs:before {
  content: "\f05b";
}

/* line 95, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-times-circle-o:before {
  content: "\f05c";
}

/* line 96, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-check-circle-o:before {
  content: "\f05d";
}

/* line 97, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-ban:before {
  content: "\f05e";
}

/* line 98, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrow-left:before {
  content: "\f060";
}

/* line 99, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrow-right:before {
  content: "\f061";
}

/* line 100, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrow-up:before {
  content: "\f062";
}

/* line 101, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrow-down:before {
  content: "\f063";
}

/* line 102, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}

/* line 104, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-expand:before {
  content: "\f065";
}

/* line 105, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-compress:before {
  content: "\f066";
}

/* line 106, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-plus:before {
  content: "\f067";
}

/* line 107, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-minus:before {
  content: "\f068";
}

/* line 108, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-asterisk:before {
  content: "\f069";
}

/* line 109, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-exclamation-circle:before {
  content: "\f06a";
}

/* line 110, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-gift:before {
  content: "\f06b";
}

/* line 111, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-leaf:before {
  content: "\f06c";
}

/* line 112, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-fire:before {
  content: "\f06d";
}

/* line 113, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-eye:before {
  content: "\f06e";
}

/* line 114, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-eye-slash:before {
  content: "\f070";
}

/* line 115, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}

/* line 117, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-plane:before {
  content: "\f072";
}

/* line 118, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-calendar:before {
  content: "\f073";
}

/* line 119, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-random:before {
  content: "\f074";
}

/* line 120, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-comment:before {
  content: "\f075";
}

/* line 121, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-magnet:before {
  content: "\f076";
}

/* line 122, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-chevron-up:before {
  content: "\f077";
}

/* line 123, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-chevron-down:before {
  content: "\f078";
}

/* line 124, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-retweet:before {
  content: "\f079";
}

/* line 125, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-shopping-cart:before {
  content: "\f07a";
}

/* line 126, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-folder:before {
  content: "\f07b";
}

/* line 127, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-folder-open:before {
  content: "\f07c";
}

/* line 128, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrows-v:before {
  content: "\f07d";
}

/* line 129, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrows-h:before {
  content: "\f07e";
}

/* line 130, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-bar-chart-o:before {
  content: "\f080";
}

/* line 131, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-twitter-square:before {
  content: "\f081";
}

/* line 132, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-facebook-square:before {
  content: "\f082";
}

/* line 133, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-camera-retro:before {
  content: "\f083";
}

/* line 134, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-key:before {
  content: "\f084";
}

/* line 135, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}

/* line 137, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-comments:before {
  content: "\f086";
}

/* line 138, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-thumbs-o-up:before {
  content: "\f087";
}

/* line 139, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-thumbs-o-down:before {
  content: "\f088";
}

/* line 140, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-star-half:before {
  content: "\f089";
}

/* line 141, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-heart-o:before {
  content: "\f08a";
}

/* line 142, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-sign-out:before {
  content: "\f08b";
}

/* line 143, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-linkedin-square:before {
  content: "\f08c";
}

/* line 144, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-thumb-tack:before {
  content: "\f08d";
}

/* line 145, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-external-link:before {
  content: "\f08e";
}

/* line 146, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-sign-in:before {
  content: "\f090";
}

/* line 147, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-trophy:before {
  content: "\f091";
}

/* line 148, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-github-square:before {
  content: "\f092";
}

/* line 149, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-upload:before {
  content: "\f093";
}

/* line 150, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-lemon-o:before {
  content: "\f094";
}

/* line 151, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-phone:before {
  content: "\f095";
}

/* line 152, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-square-o:before {
  content: "\f096";
}

/* line 153, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-bookmark-o:before {
  content: "\f097";
}

/* line 154, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-phone-square:before {
  content: "\f098";
}

/* line 155, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-twitter:before {
  content: "\f099";
}

/* line 156, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-facebook:before {
  content: "\f09a";
}

/* line 157, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-github:before {
  content: "\f09b";
}

/* line 158, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-unlock:before {
  content: "\f09c";
}

/* line 159, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-credit-card:before {
  content: "\f09d";
}

/* line 160, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-rss:before {
  content: "\f09e";
}

/* line 161, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-hdd-o:before {
  content: "\f0a0";
}

/* line 162, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-bullhorn:before {
  content: "\f0a1";
}

/* line 163, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-bell:before {
  content: "\f0f3";
}

/* line 164, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-certificate:before {
  content: "\f0a3";
}

/* line 165, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-hand-o-right:before {
  content: "\f0a4";
}

/* line 166, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-hand-o-left:before {
  content: "\f0a5";
}

/* line 167, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-hand-o-up:before {
  content: "\f0a6";
}

/* line 168, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-hand-o-down:before {
  content: "\f0a7";
}

/* line 169, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrow-circle-left:before {
  content: "\f0a8";
}

/* line 170, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrow-circle-right:before {
  content: "\f0a9";
}

/* line 171, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrow-circle-up:before {
  content: "\f0aa";
}

/* line 172, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrow-circle-down:before {
  content: "\f0ab";
}

/* line 173, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-globe:before {
  content: "\f0ac";
}

/* line 174, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-wrench:before {
  content: "\f0ad";
}

/* line 175, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-tasks:before {
  content: "\f0ae";
}

/* line 176, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-filter:before {
  content: "\f0b0";
}

/* line 177, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-briefcase:before {
  content: "\f0b1";
}

/* line 178, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrows-alt:before {
  content: "\f0b2";
}

/* line 179, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}

/* line 181, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}

/* line 183, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-cloud:before {
  content: "\f0c2";
}

/* line 184, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-flask:before {
  content: "\f0c3";
}

/* line 185, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}

/* line 187, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}

/* line 189, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-paperclip:before {
  content: "\f0c6";
}

/* line 190, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}

/* line 192, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-square:before {
  content: "\f0c8";
}

/* line 193, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-bars:before {
  content: "\f0c9";
}

/* line 194, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-list-ul:before {
  content: "\f0ca";
}

/* line 195, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-list-ol:before {
  content: "\f0cb";
}

/* line 196, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-strikethrough:before {
  content: "\f0cc";
}

/* line 197, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-underline:before {
  content: "\f0cd";
}

/* line 198, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-table:before {
  content: "\f0ce";
}

/* line 199, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-magic:before {
  content: "\f0d0";
}

/* line 200, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-truck:before {
  content: "\f0d1";
}

/* line 201, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-pinterest:before {
  content: "\f0d2";
}

/* line 202, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-pinterest-square:before {
  content: "\f0d3";
}

/* line 203, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-google-plus-square:before {
  content: "\f0d4";
}

/* line 204, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-google-plus:before {
  content: "\f0d5";
}

/* line 205, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-money:before {
  content: "\f0d6";
}

/* line 206, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-caret-down:before {
  content: "\f0d7";
}

/* line 207, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-caret-up:before {
  content: "\f0d8";
}

/* line 208, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-caret-left:before {
  content: "\f0d9";
}

/* line 209, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-caret-right:before {
  content: "\f0da";
}

/* line 210, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-columns:before {
  content: "\f0db";
}

/* line 211, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}

/* line 213, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-sort-down:before,
.fa-sort-asc:before {
  content: "\f0dd";
}

/* line 215, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-sort-up:before,
.fa-sort-desc:before {
  content: "\f0de";
}

/* line 217, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-envelope:before {
  content: "\f0e0";
}

/* line 218, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-linkedin:before {
  content: "\f0e1";
}

/* line 219, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}

/* line 221, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}

/* line 223, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}

/* line 225, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-comment-o:before {
  content: "\f0e5";
}

/* line 226, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-comments-o:before {
  content: "\f0e6";
}

/* line 227, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}

/* line 229, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-sitemap:before {
  content: "\f0e8";
}

/* line 230, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-umbrella:before {
  content: "\f0e9";
}

/* line 231, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}

/* line 233, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-lightbulb-o:before {
  content: "\f0eb";
}

/* line 234, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-exchange:before {
  content: "\f0ec";
}

/* line 235, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-cloud-download:before {
  content: "\f0ed";
}

/* line 236, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-cloud-upload:before {
  content: "\f0ee";
}

/* line 237, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-user-md:before {
  content: "\f0f0";
}

/* line 238, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-stethoscope:before {
  content: "\f0f1";
}

/* line 239, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-suitcase:before {
  content: "\f0f2";
}

/* line 240, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-bell-o:before {
  content: "\f0a2";
}

/* line 241, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-coffee:before {
  content: "\f0f4";
}

/* line 242, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-cutlery:before {
  content: "\f0f5";
}

/* line 243, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-file-text-o:before {
  content: "\f0f6";
}

/* line 244, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-building-o:before {
  content: "\f0f7";
}

/* line 245, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-hospital-o:before {
  content: "\f0f8";
}

/* line 246, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-ambulance:before {
  content: "\f0f9";
}

/* line 247, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-medkit:before {
  content: "\f0fa";
}

/* line 248, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-fighter-jet:before {
  content: "\f0fb";
}

/* line 249, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-beer:before {
  content: "\f0fc";
}

/* line 250, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-h-square:before {
  content: "\f0fd";
}

/* line 251, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-plus-square:before {
  content: "\f0fe";
}

/* line 252, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-angle-double-left:before {
  content: "\f100";
}

/* line 253, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-angle-double-right:before {
  content: "\f101";
}

/* line 254, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-angle-double-up:before {
  content: "\f102";
}

/* line 255, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-angle-double-down:before {
  content: "\f103";
}

/* line 256, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-angle-left:before {
  content: "\f104";
}

/* line 257, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-angle-right:before {
  content: "\f105";
}

/* line 258, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-angle-up:before {
  content: "\f106";
}

/* line 259, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-angle-down:before {
  content: "\f107";
}

/* line 260, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-desktop:before {
  content: "\f108";
}

/* line 261, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-laptop:before {
  content: "\f109";
}

/* line 262, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-tablet:before {
  content: "\f10a";
}

/* line 263, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}

/* line 265, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-circle-o:before {
  content: "\f10c";
}

/* line 266, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-quote-left:before {
  content: "\f10d";
}

/* line 267, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-quote-right:before {
  content: "\f10e";
}

/* line 268, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-spinner:before {
  content: "\f110";
}

/* line 269, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-circle:before {
  content: "\f111";
}

/* line 270, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}

/* line 272, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-github-alt:before {
  content: "\f113";
}

/* line 273, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-folder-o:before {
  content: "\f114";
}

/* line 274, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-folder-open-o:before {
  content: "\f115";
}

/* line 275, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-smile-o:before {
  content: "\f118";
}

/* line 276, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-frown-o:before {
  content: "\f119";
}

/* line 277, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-meh-o:before {
  content: "\f11a";
}

/* line 278, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-gamepad:before {
  content: "\f11b";
}

/* line 279, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-keyboard-o:before {
  content: "\f11c";
}

/* line 280, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-flag-o:before {
  content: "\f11d";
}

/* line 281, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-flag-checkered:before {
  content: "\f11e";
}

/* line 282, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-terminal:before {
  content: "\f120";
}

/* line 283, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-code:before {
  content: "\f121";
}

/* line 284, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-reply-all:before {
  content: "\f122";
}

/* line 285, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-mail-reply-all:before {
  content: "\f122";
}

/* line 286, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}

/* line 289, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-location-arrow:before {
  content: "\f124";
}

/* line 290, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-crop:before {
  content: "\f125";
}

/* line 291, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-code-fork:before {
  content: "\f126";
}

/* line 292, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}

/* line 294, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-question:before {
  content: "\f128";
}

/* line 295, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-info:before {
  content: "\f129";
}

/* line 296, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-exclamation:before {
  content: "\f12a";
}

/* line 297, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-superscript:before {
  content: "\f12b";
}

/* line 298, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-subscript:before {
  content: "\f12c";
}

/* line 299, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-eraser:before {
  content: "\f12d";
}

/* line 300, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-puzzle-piece:before {
  content: "\f12e";
}

/* line 301, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-microphone:before {
  content: "\f130";
}

/* line 302, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-microphone-slash:before {
  content: "\f131";
}

/* line 303, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-shield:before {
  content: "\f132";
}

/* line 304, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-calendar-o:before {
  content: "\f133";
}

/* line 305, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-fire-extinguisher:before {
  content: "\f134";
}

/* line 306, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-rocket:before {
  content: "\f135";
}

/* line 307, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-maxcdn:before {
  content: "\f136";
}

/* line 308, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-chevron-circle-left:before {
  content: "\f137";
}

/* line 309, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-chevron-circle-right:before {
  content: "\f138";
}

/* line 310, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-chevron-circle-up:before {
  content: "\f139";
}

/* line 311, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-chevron-circle-down:before {
  content: "\f13a";
}

/* line 312, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-html5:before {
  content: "\f13b";
}

/* line 313, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-css3:before {
  content: "\f13c";
}

/* line 314, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-anchor:before {
  content: "\f13d";
}

/* line 315, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-unlock-alt:before {
  content: "\f13e";
}

/* line 316, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-bullseye:before {
  content: "\f140";
}

/* line 317, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-ellipsis-h:before {
  content: "\f141";
}

/* line 318, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-ellipsis-v:before {
  content: "\f142";
}

/* line 319, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-rss-square:before {
  content: "\f143";
}

/* line 320, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-play-circle:before {
  content: "\f144";
}

/* line 321, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-ticket:before {
  content: "\f145";
}

/* line 322, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-minus-square:before {
  content: "\f146";
}

/* line 323, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-minus-square-o:before {
  content: "\f147";
}

/* line 324, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-level-up:before {
  content: "\f148";
}

/* line 325, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-level-down:before {
  content: "\f149";
}

/* line 326, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-check-square:before {
  content: "\f14a";
}

/* line 327, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-pencil-square:before {
  content: "\f14b";
}

/* line 328, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-external-link-square:before {
  content: "\f14c";
}

/* line 329, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-share-square:before {
  content: "\f14d";
}

/* line 330, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-compass:before {
  content: "\f14e";
}

/* line 331, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}

/* line 333, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}

/* line 335, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}

/* line 337, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}

/* line 339, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-gbp:before {
  content: "\f154";
}

/* line 340, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}

/* line 342, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}

/* line 344, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}

/* line 348, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}

/* line 351, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}

/* line 353, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}

/* line 355, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-file:before {
  content: "\f15b";
}

/* line 356, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-file-text:before {
  content: "\f15c";
}

/* line 357, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-sort-alpha-asc:before {
  content: "\f15d";
}

/* line 358, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-sort-alpha-desc:before {
  content: "\f15e";
}

/* line 359, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-sort-amount-asc:before {
  content: "\f160";
}

/* line 360, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-sort-amount-desc:before {
  content: "\f161";
}

/* line 361, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-sort-numeric-asc:before {
  content: "\f162";
}

/* line 362, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-sort-numeric-desc:before {
  content: "\f163";
}

/* line 363, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-thumbs-up:before {
  content: "\f164";
}

/* line 364, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-thumbs-down:before {
  content: "\f165";
}

/* line 365, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-youtube-square:before {
  content: "\f166";
}

/* line 366, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-youtube:before {
  content: "\f167";
}

/* line 367, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-xing:before {
  content: "\f168";
}

/* line 368, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-xing-square:before {
  content: "\f169";
}

/* line 369, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-youtube-play:before {
  content: "\f16a";
}

/* line 370, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-dropbox:before {
  content: "\f16b";
}

/* line 371, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-stack-overflow:before {
  content: "\f16c";
}

/* line 372, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-instagram:before {
  content: "\f16d";
}

/* line 373, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-flickr:before {
  content: "\f16e";
}

/* line 374, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-adn:before {
  content: "\f170";
}

/* line 375, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-bitbucket:before {
  content: "\f171";
}

/* line 376, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-bitbucket-square:before {
  content: "\f172";
}

/* line 377, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-tumblr:before {
  content: "\f173";
}

/* line 378, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-tumblr-square:before {
  content: "\f174";
}

/* line 379, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-long-arrow-down:before {
  content: "\f175";
}

/* line 380, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-long-arrow-up:before {
  content: "\f176";
}

/* line 381, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-long-arrow-left:before {
  content: "\f177";
}

/* line 382, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-long-arrow-right:before {
  content: "\f178";
}

/* line 383, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-apple:before {
  content: "\f179";
}

/* line 384, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-windows:before {
  content: "\f17a";
}

/* line 385, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-android:before {
  content: "\f17b";
}

/* line 386, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-linux:before {
  content: "\f17c";
}

/* line 387, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-dribbble:before {
  content: "\f17d";
}

/* line 388, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-skype:before {
  content: "\f17e";
}

/* line 389, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-foursquare:before {
  content: "\f180";
}

/* line 390, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-trello:before {
  content: "\f181";
}

/* line 391, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-female:before {
  content: "\f182";
}

/* line 392, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-male:before {
  content: "\f183";
}

/* line 393, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-gittip:before {
  content: "\f184";
}

/* line 394, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-sun-o:before {
  content: "\f185";
}

/* line 395, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-moon-o:before {
  content: "\f186";
}

/* line 396, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-archive:before {
  content: "\f187";
}

/* line 397, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-bug:before {
  content: "\f188";
}

/* line 398, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-vk:before {
  content: "\f189";
}

/* line 399, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-weibo:before {
  content: "\f18a";
}

/* line 400, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-renren:before {
  content: "\f18b";
}

/* line 401, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-pagelines:before {
  content: "\f18c";
}

/* line 402, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-stack-exchange:before {
  content: "\f18d";
}

/* line 403, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}

/* line 404, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-arrow-circle-o-left:before {
  content: "\f190";
}

/* line 405, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}

/* line 407, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-dot-circle-o:before {
  content: "\f192";
}

/* line 408, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-wheelchair:before {
  content: "\f193";
}

/* line 409, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-vimeo-square:before {
  content: "\f194";
}

/* line 410, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}

/* line 412, ../sass/font-awesome-4.0.3/scss/_icons.scss */
.fa-plus-square-o:before {
  content: "\f196";
}

/* --------------------------------- */
/* -------->>> VARIABLES <<<-------- */
/* --------------------------------- */
/* --------------------------------- */
/* --------->>> GLOBAL <<<---------- */
/* --------------------------------- */
/* line 33, ../sass/screen.scss */
html,
body {
  width: 100%;
  height: 100%;
  background: url("../public/images/scifi.png") fixed;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 33, ../sass/screen.scss */
  html,
  body {
    width: auto;
  }
}

/* line 45, ../sass/screen.scss */
body {
  font: normal 100% "museo_sans500", sans-serif;
}

/* line 49, ../sass/screen.scss */
h1,
h2 {
  font-weight: bold;
}

/* line 54, ../sass/screen.scss */
h1 {
  font-size: 36px;
}

/* line 58, ../sass/screen.scss */
h3 {
  font-size: 24px;
}

/* line 62, ../sass/screen.scss */
p {
  font-size: 12px;
}

/* --------------------------------- */
/* --------->>> HEADER <<<---------- */
/* --------------------------------- */
/* line 71, ../sass/screen.scss */
header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0 1px 2px rgba(51, 51, 51, 0.2);
}
/* line 80, ../sass/screen.scss */
header #logo {
  padding: 10px 0 0 12px;
  width: 166px;
  height: 40px;
  float: left;
}
/* line 86, ../sass/screen.scss */
header #navbar {
  padding-right: 12px;
  float: right;
}
/* line 89, ../sass/screen.scss */
header #navbar a {
  padding-left: 12px;
  float: right;
  color: #333333;
  text-decoration: none;
  line-height: 60px;
  font-size: 20px;
}
/* line 96, ../sass/screen.scss */
header #navbar a .fa-user {
  padding-left: 12px;
}

/* --------------------------------- */
/* ---------->>> MAIN <<<----------- */
/* --------------------------------- */
/* line 113, ../sass/screen.scss */
#content {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

/* line 119, ../sass/screen.scss */
#main {
  display: block;
  margin: 60px auto 0 auto;
  width: 100%;
  background: white;
  overflow: auto;
}
@media only screen and (min-width: 900px) {
  /* line 119, ../sass/screen.scss */
  #main {
    width: 900px;
  }
}
/* line 129, ../sass/screen.scss */
#main #banner {
  height: 300px;
  display: block;
  position: relative;
  background: url("../images/sword-art-online-banner.jpg");
  background-size: cover;
}
/* line 135, ../sass/screen.scss */
#main #banner #title-bar {
  background: white;
  box-shadow: 0 -1px 1px rgba(51, 51, 51, 0.2);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
}
/* line 144, ../sass/screen.scss */
#main #banner #title-bar #title {
  padding: 6px 0 0 12px;
  color: #333333;
  font-size: 36px;
}
/* line 152, ../sass/screen.scss */
#main #info {
  width: 100%;
  background: #333333;
  float: left;
  position: relative;
}
/* line 158, ../sass/screen.scss */
#main #info #info-data .info-datum {
  padding: 4px 12px;
  color: #777;
  float: left;
  clear: left;
}
/* line 163, ../sass/screen.scss */
#main #info #info-data .info-datum:first-of-type {
  padding-top: 12px;
}
/* line 167, ../sass/screen.scss */
#main #info #info-data .info-datum:last-of-type {
  padding-bottom: 12px;
}
/* line 171, ../sass/screen.scss */
#main #info #info-data .info-datum a {
  color: white;
  text-decoration: none;
}
/* line 174, ../sass/screen.scss */
#main #info #info-data .info-datum a:hover {
  text-shadow: 0 0 2px white;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 174, ../sass/screen.scss */
  #main #info #info-data .info-datum a:hover {
    text-shadow: none;
  }
}
/* line 183, ../sass/screen.scss */
#main #info #info-data .info-datum a:active {
  text-shadow: 0 0 2px white;
}
/* line 191, ../sass/screen.scss */
#main #storyline {
  width: 100%;
  display: block;
  float: left;
}
/* line 195, ../sass/screen.scss */
#main #storyline #story-panel-list {
  width: 100%;
  float: left;
}
/* line 198, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item {
  width: 100%;
  float: left;
  list-style: none;
}
/* line 202, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .time-point {
  width: 40px;
  height: 80px;
  position: relative;
  float: left;
}
/* line 207, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .time-point .year {
  color: #333333;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  line-height: 80px;
}
/* line 215, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .time-point:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 5%;
  bottom: 60%;
  left: 50%;
  border-left: 2px dashed #bbb;
}
/* line 225, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .time-point:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 60%;
  bottom: 4%;
  left: 50%;
  border-left: 2px dashed #bbb;
}
/* line 236, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .time-spacer {
  width: 40px;
  height: 80px;
  position: relative;
  float: left;
}
/* line 241, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .time-spacer .year {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  line-height: 80px;
}
/* line 248, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .time-spacer:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 3%;
  bottom: 3%;
  left: 50%;
  border-left: 2px dashed #bbb;
}
/* line 260, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item:first-child:after {
  border-left: none;
}
/* line 265, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .media-details {
  margin: 1px 0;
  width: calc(100% - 52px);
  height: 79px;
  position: relative;
  float: left;
  background: white;
  box-shadow: 0 -1px 0 #eee, 0 1px 0 #eee;
}
/* line 275, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .media-details .media-type {
  padding: 6px 0 0 6px;
  font-size: 12px;
}
/* line 280, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .media-details .media-name {
  display: block;
  padding: 12px 0 0 6px;
  color: #333333;
  font-size: 14px;
  text-decoration: none;
}
/* line 288, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .media-details.anime-media {
  border-left: 12px solid #ff8300;
}
/* line 290, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .media-details.anime-media .media-type {
  color: #ff8300;
}
/* line 295, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .media-details.ranobe-media {
  border-left: 12px solid #ff2800;
}
/* line 297, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .media-details.ranobe-media .media-type {
  color: #ff2800;
}
/* line 302, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .media-details.manga-media {
  border-left: 12px solid #06799f;
}
/* line 304, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .media-details.manga-media .media-type {
  color: #06799f;
}
/* line 309, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .media-details.game-media {
  border-left: 12px solid #00bb3f;
}
/* line 311, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .media-details.game-media .media-type {
  color: #00bb3f;
}
/* line 316, ../sass/screen.scss */
#main #storyline #story-panel-list .story-panel-item .media-details:hover {
  background: #eee;
  box-shadow: 0 -1px 0 #ddd, 0 1px 0 #ddd;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 316, ../sass/screen.scss */
  #main #storyline #story-panel-list .story-panel-item .media-details:hover {
    background: white;
    box-shadow: none;
  }
}

/* --------------------------------- */
/* --------->>> FOOTER <<<---------- */
/* --------------------------------- */
/* line 339, ../sass/screen.scss */
footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  background: #333333;
  width: 100%;
}
/* line 345, ../sass/screen.scss */
footer p {
  width: 100%;
  padding-top: 12px;
  color: white;
  text-align: center;
}
